body {
    background-color: #d7d6d6;
}

nav {
    background-color: whitesmoke;
    padding: 10px;
    /*margin: 10px;*/
    margin-top: 5px;
    /*margin-right: 25px;*/
}

.w3-bar {
    font-weight: unset;
    font: ;
}




footer {
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 15px;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: #FF3;
}
